apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-mcsqywnv
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-mcsqywnv:54d14b68142a9a9ba76a04ceaf7549fd101aa5ec@sha256:bc7ac1fc9e71496ce9f964c147a842cd0e22caf869d3d2f0eb9fd54f70330663
          name: container-image
